/* 
Author: Joseph Santantonio
Project: Social Media Project
Wrote CSS code page for styles.css in current state 
*/

body {
  background-color: rgb(221, 236, 255);
  font-family: sans-serif;
  margin: 0;
}

/* Header START ----------------------------- */
.header_container {
  background-color: rgb(100, 170, 250);
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 12px 20px;
}

.header_container h1 {
  font-size: 50px;
  padding: 10px;
}

.header_container h1.hobby {
  padding-right: 16px;
}

/* Header END ----------------------------- */

/* Log-in Container START ----------------------------- */
.title {
  text-align: center;
  padding: 50px 0 20px;
}

.title h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.login_container {
  width: 500px;
  height: 400px;
  background: white;
  margin: 30px auto;
  border: 2px solid black;
  box-shadow: 0 15px 40px black;
}

.login_container .left {
  float: left;
  width: 50%;
  height: 400px;
  background: url(images/bg-image.jpg);
  box-sizing: border-box;
  max-width: 400px;
  min-width: 100px;
}

.login_container .right {
  float: right;
  width: 50%;
  height: 400px;
  box-sizing: border-box;
}

.formBox {
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  height: 400px;
  background-color: white;
}

.formBox-signup {
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  height: 400px;
  background-color: white;
}

.formBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.formBox input {
  margin-bottom: 20px;
}

.formBox-signup input {
  margin-bottom: 0px;
}

.formBox-signup p.req {
  padding: 0;
  margin: 0;
  color: red;
  margin-bottom: 5px;
}
/*  */
.formBox input[type="text"],
.formBox input[type="password"],
.formBox-signup input[type="password"],
.formBox-signup input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  height: 20px;
}

#sign-in,
#sign-up,
#create-acc {
  border: none;
  width: 100%;
  height: 25px;
}

#create-acc,
#sign-in {
  margin-top: 10px;
  margin-bottom: 15px;
}

#sign-in:hover,
#sign-up:hover,
#create-acc:hover {
  background-color: rgb(193, 222, 255);
}

form p {
  color: grey;
  text-transform: uppercase;
  font-size: 10px;
  float: right;
}

form p:hover {
  color: black;
}

/* Log-in Container END ----------------------------- */

/* Navigation bar START ----------------------------- */
.navigation {
  background-color: black;
  height: 50px;
}

.navigation a,
.navigation p {
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

.navigation .right {
  float: right;
}

.navigation a:hover {
  background-color: rgb(56, 56, 56);
}

/* Navigation bar END ----------------------------- */

/* Landing page Main Content START ----------------------------- */

.main-container {
  display: flex;
}
.main-container .main-box {
  background-color: rgb(238, 196, 133);
  border: 3px solid black;
  padding: 20px 20px;
  width: 150px;
  height: 150px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .main-box:hover {
  background-color: rgba(255, 183, 50, 0.767);
}

.main-box p {
  text-align: center;
}

.hobby-bar {
  background-color: rgb(167, 167, 168);
  padding: 20px 20px;
  width: 250px;
}

.main-content {
  background-color: rgb(221, 236, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-piece {
  margin-top: 20px;
  margin: 0 30px;
}

.content-piece h2 {
  margin-bottom: 0;
}

.content-piece h3 {
  font-size: 12px;
  text-decoration: none;
  font-weight: 100;
  margin: 0;
}

.content-piece p {
  text-indent: 30px;
}

/* Landing page Main Content END ----------------------------- */

/* Administration page Main Content START ----------------------------- */

.admin-splash {
  background-color: brown;
}

.admin-splash h2 {
  margin: 0;
  text-align: center;
  border-bottom: 3px solid black;
}

.adminpage-container {
  width: 500px;
  background-color: white;
  border: 2px solid black;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.adminpage-container button {
  margin: 10px;
}

.adminpage-container button p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

/* Administration page Main Content END ----------------------------- */

/* user-profilepage.html START ----------------------------- */

.profile-post {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

#userpage-textbox {
  resize: none;
  width: 84%;
}

.profile-post h2 {
  margin-bottom: 5px;
}

.profile-post form {
  display: flex;
}

.profile-post input[type="submit"] {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
}

.main-content .user-posts {
  background-color: rgb(252, 101, 101);
  margin: 20px;
}

.user-posts p {
  text-indent: 30px;
}

/* user-profilepage.html END ----------------------------- */
